# Binaries for programs and plugins
*.exe~
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# 忽略整个文件夹
config/Backups/
config/History/
config/Icon/
config/Picture/
config/logs/
.idea/

# 想忽略某个文件夹，但又不想忽略这个文件夹下的某个子目录
/config/jsx/*
!/config/jsx/template/

