* {
    margin: 0; /*设置边距为0*/
    box-sizing: border-box;
    font-family: Microsoft YaHei, sans-serif; /*字体样式*/
}

body{
    background:#efecf0;
}




.div-css1 {
    background: #77c2ac; /*背景颜色*/
    color: #ffffff; /*字体颜色*/
    height: 55px;
    padding-top: 5px; /*上填充*/
    padding-left: 5%; /*左填充*/

    letter-spacing: 1px; /*字间距*/
    box-shadow: 2px 2px 7px #888888; /*阴影*/
}

.div-css2 {
    padding-top: 5%; /*上填充*/
    padding-right: 5%;
    padding-bottom: 8%;
    padding-left: 5%;
    font-family: Microsoft YaHei, Helvetica, sans-serif;
}

.tool-button { /* 按钮美化 */
    width: 47%; /* 宽度 */
    height: 40px; /* 高度 */
    border-width: 0px; /* 边框宽度 */
    border-radius: 3px; /* 边框半径 */
    background: #fffdff; /* 背景颜色 */
    cursor: pointer; /* 鼠标移入按钮范围时出现手势 */
    outline: none; /* 不显示轮廓线 */
    font-family: Microsoft YaHei, sans-serif; /* 设置字体 */
    color: #838184; /* 字体颜色 */
    font-size: 15px; /* 字体大小 */
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.1);
    margin-bottom: 4%; /*下外边距*/
}

.tool-button:hover { /* 鼠标移入按钮范围时改变颜色 */
    background: #77C2AC;
    color: #ffffff; /* 字体颜色 */
}

.align-left {
    float: left; /* 左对齐 */
}

.align-right {
    float: right; /* 右对齐 */
}

.align-center {
    /*margin: auto;*/
    text-align: center
}








/*首页动态特效*/




