
// ----------------------------------------------------------------------------------------------------------------------------
// 定义一个函数用于新建参考线
function addLine() {
    activeDocument.guides.add(Direction.HORIZONTAL, UnitValue("{{printf "%.2f" .Line1}}cm"));
    activeDocument.guides.add(Direction.HORIZONTAL, UnitValue("{{printf "%.2f" .Line2}}cm"));
}

// 生成历史记录
app.activeDocument.suspendHistory("上下画布参考线！", "addLine()");